:root{
    --bg-color: #FFE5D9;
    --pink: #F4ACB7;
}

*{
    font-family: "roboto", 'Courier New', Courier, monospace, 'system-ui';
    font-size: calc(0.5vh + 1rem);
    margin: 0;
}

body{
    background-color: var(--background-color);
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#myform{
    height: 33%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

label{
    font-size: calc(0.5vh + 0.8rem);
    color: black;
}

input{
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
}

input::placeholder{
    font-size: calc(0.5vh + 0.8rem);
    padding-left: 3px;
}

input:invalid{
    color: red;
}

input:required{
    border-color: #E5E7EB;
    border-style: solid;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo-text{
    font-size: calc(0.5vh + 2.5rem);
}

.burger{
    height: 100px;
    width: 100px;
}

.container{
    display: flex;
    
}

.logo-container{
    background-image: url("images/yunan-wang.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 65%;
}

.heading-text, .submit-container{
    height: 33.3%;
    padding: 2rem;
    background-color: var(--bg-color);
    gap: 20px;    
}

.logo{
    background-color: rgba(36, 36, 36,0.7);
    width: 100%;
    text-align: center;
    margin-top: 20vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.form-content{
    display: flex;
    gap: 5%;
}

.credit, a{
    font-size: 16px;
    color: white;
}

.heading-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.submit-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.submit-button{
    border: none;
    border-radius: 15px;
    background-color: var(--pink);
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.log-in{
    font-size: calc(0.5vh + 1.1rem);
    color: var(--pink);
}